.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.inputs{
  grid: auto-flow;
  grid-gap: 5em;
  width: 30vw;
  flex-direction: column;
}
.label{
  position: relative;
  text-align: left;

}
.label2{
  text-align: left;
  position: absolute;
}

@media (min-width: 727px){
  .container{
    margin-right: -24em;
    float: right;
  }
} 
@media (max-width: 726px){
  .container{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
  }
}